CANVAS_PROCESSOR_APP_NAME="Canvas Report Processor"
CANVAS_PROCESSOR_CANVAS_BASE_URL="https://pucminas.instructure.com"
CANVAS_PROCESSOR_REQUEST_TIMEOUT_SECONDS=30
CANVAS_PROCESSOR_MAX_REDIRECTS=10
CANVAS_PROCESSOR_DEFAULT_ENCODING="utf-8"
CANVAS_PROCESSOR_FALLBACK_ENCODING="latin1"
CANVAS_PROCESSOR_LOG_LEVEL="INFO"
